@font-face {
    font-family: 'MD-IO';
    src: url(/assets/type/MD_IO.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:root {
    --body-font: 'MD-IO', Helvetica, Arial, sans-serif;
    --body-font-size: clamp(1.031rem, 3vw, 1.063rem);
    --heading-font: 'MD-IO', Helvetica, Arial, sans-serif;
    --primary-color: #5C2A06;
    --accent-color: darkblue;
    --background-color: floralwhite
}

[data-theme="light"] {
    --primary-color: #5C2A06;
    --accent-color: darkblue;
    --background-color: floralwhite
}

[data-theme="dark"] {
    --primary-color: floralwhite;
    --primary-color-alt: #111;
    --accent-color: lightblue;
    --background-color: #111
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    overscroll-behavior: none
}

html {
    font-size: 16px
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    color: var(--primary-color);
    background: var(--background-color)
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100dvh;
    padding: 4rem 2rem
}

.stuff {
    width: 100%;
    max-width: 40rem
}

section {
    margin: 0 0 3rem
}

.some-news {
    margin-bottom: 1.5rem
}

.some-media {
    margin-bottom: 3rem
}

.info p span {
    margin-right: 1rem;
    color: var(--accent-color)
}

.acme-all-purpose-wrapper {
    text-align: center;
    margin-bottom: 2rem
}

p,
li {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0 0 1rem;
    color: var(--primary-color)
}

a {
    display: inline;
    position: relative;
    line-height: 1.6;
    text-decoration: none;
    color: var(--primary-color)
}

p a,
li.link a {
    background-image: linear-gradient(transparent 80%, var(--accent-color) 80%);
    background-size: 100% 10px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    padding-bottom: .15rem
}

.just-a-list li {
    list-style: none
}

.just-a-list li span {
    color: var(--accent-color)
}

.just-a-list li:not(.link) {
    pointer-events: none
}

.fancy-pants-list li {
    list-style: decimal;
    list-style-position: inside;
    color: var(--accent-color)
}

.fancy-pants-list p {
    margin: 1rem 0 2.5rem
}

h2 {
    font-family: var(--heading-font);
    font-size: clamp(1.6rem, 3vw, 1.85rem);
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 1.5rem;
    color: var(--primary-color)
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(1.85rem, 3vw, 2.5rem);
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    margin: 0 0 2rem;
    color: var(--primary-color)
}

hr {
    height: 3px;
    border: 0;
    background: var(--primary-color);
    margin: 2rem 0
}

button {
    border-radius: .25rem;
    padding: 1rem 2rem;
    font-family: var(--body-font);
    background: var(--accent-color);
    color: var(--background-color);
    cursor: pointer
}

@media (hover:hover) and (pointer:fine) {
    button.theme-o-matic:hover {
        color: var(--background-color);
        background: var(--primary-color)
    }
}

.home-sweet-home {
    margin: 0 0 2rem;
    a {
        font-family: var(--body-font);
        color: var(--accent-color)
    }
}

.inline-graphic {
    height: 2rem;
    width: auto
}

.inline-graphic.lft-arrow,
.inline-graphic.rgt-arrow {
    height: .675rem;
    width: auto;
    margin-right: .125rem
}

#coda {
    text-align: center
}

@media (max-width:768px) {
    main {
        padding: 3rem 1rem
    }
}

.blinkeroo {
    display: inline-block;
    -webkit-animation: 1s infinite blink;
    animation: 1s infinite blink
}

@keyframes blink {
    0%,
    15% {
        opacity: 0
    }
    16%,
    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink {
    0%,
    15% {
        opacity: 0
    }
    16%,
    100% {
        opacity: 1
    }
}